.article_content_wrapper {
  p {
    line-height: 1.75;
    font-size: 1.2rem;
  }

  h1 {
    font-size: 3rem;
    font-weight: normal;
  }

  .article_header {
    margin: 1.5rem 0rem;
    display: flex;
    width: 16%;
    justify-content: space-between;

    align-items: center;
    .avatar {
      width: 3rem;
      height: 3rem;
      img {
        width: 100%;
        border-radius: 50%;
      }
    }

    .article_info {
      p {
        flex-basis: 65%;
        font-size: 1rem;
      }
      .date {
        font-size: 0.975rem;
        color: rgba(117, 117, 117, 1);
      }
    }
  }
}


.modal_btn_wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .close-button {
      background: transparent;
      border: none;
      font-size: 2rem;
      border-radius: 50%;
      padding: 0.12rem 0.55rem;
    }
    .close-button:hover {
      background-color: #eee;
      font-weight: bold;
    }
  }
  